body {
    background-image:url("images/background.jpeg");
  background-size: 100%;
  }
  input{
    height:45px;
    width:45px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  li{
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  .active {
    background-color: #04AA6D;
  }
  .lalign{
    float:right
  }

  h1 {
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
  }
  
  p {
    font-size: 22px;
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
  }
  .body{
    opacity: 0.85;
    background-color: #FFFF;
    padding:20px;
    margin-top:55px;
    height: auto;
    z-index: -1;
  }
   
